html{
 width: 100%;
 
}

.header{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj_82Of-EejZzMrPbQsmUCxftDu5xG-3cXBrJwNLafzSQ4C9Ii9w);
    background-repeat: no-repeat;
    height: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin-left: 0px;

}

.history{
    /* border: 1px solid black; */
    width: 600px;
    text-align: center;
    padding: 10px;
    margin: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 

}
